<app-presentation></app-presentation>

<div class="jumbotron">
    
        <h1 class="display-5">Langues</h1>
        
        <hr class="my-4">          
 </div> 
  
    <div class="cardList" class="row justify-content-center">
      
      <ng-container class="row justify-content-center">
              
              <div class="card bg-dark"  *ngFor="let item of collection">
                      <div class="card-body">
                          <div class="card-entete">
                              <img src={{item.image}} class=responsive class="logo">
                          <ul>
                              <p class="titreemployeur" >{{item.niveau}}</p>
                          </ul>
                          </div>
                      </div>
              </div>
    </ng-container>
  </div>

<div  class="enbas" style="background-color:rgb(58, 66, 66);">
        <h6 class="texte" >Administrateur et développeur du site: Cyril Pirez </h6>
        <h6 class="texte">Cyril Pirez - Tout droit réservés©</h6>
</div>
    
  