<app-presentation></app-presentation>

<div class="jumbotron">
    
    <h1 class="display-5">Développement Web</h1>
    
    <hr class="my-4">          
</div> 
  
  <div class="cardList" class="row justify-content-center">
                          
    <ng-container>
                  

            <div class="card bg-dark">
                <img src="assets/image/front.jpg" class="image">
                    <div class="card-body">
                    <h3></h3>
                <div class="card-footer">  
                 
                <p class="contenu">HTML</p>
                <p><ngb-progressbar class="progressbar" type="warning" value="50"></ngb-progressbar></p>
  
                <p class="contenu">CSS</p>
                <ngb-progressbar value="50" type="warning"></ngb-progressbar>
  
                <p class="contenu">JS</p>
                <p><ngb-progressbar value="20" type="warning"></ngb-progressbar></p>
  
                <p class="contenu">TS</p>
                <p><ngb-progressbar value="50" type="warning"></ngb-progressbar></p>

                <p class="contenu">Angular</p>
                <p><ngb-progressbar value="50" type="warning"></ngb-progressbar></p>

              </div>
            </div> 
            </div>
  
            <div class="card bg-dark">
                <img src="assets/image/back.jpg" class="image">
                    <div class="card-body">
                    <h3></h3>
                <div class="card-footer">  
                 
                <p class="contenu">Spring</p>
                <p><ngb-progressbar class="progressbar" type="success" value="50"></ngb-progressbar></p>
  
                <p class="contenu">Java</p>
                <ngb-progressbar value="25" type="success"></ngb-progressbar>
  
                <p class="contenu">JavaEE</p>
                <p><ngb-progressbar value="50" type="success"></ngb-progressbar></p>
  
                <p class="contenu">MySQL</p>
                <p><ngb-progressbar value="25" type="success"></ngb-progressbar></p>

                <p class="contenu">Hibernate</p>
                <p><ngb-progressbar value="25" type="success"></ngb-progressbar></p>
              </div>
            </div> 
            </div>
  
  
            <div class="card bg-dark">
                <img src="assets/image/devops.jpg" class="image">
                    <div class="card-body">
                    <h3></h3>
                <div class="card-footer">  
                 
                <p class="contenu">GitHub</p>
                <p><ngb-progressbar class="progressbar" type="blue" value="50"></ngb-progressbar></p>
  
                <p class="contenu">Docker</p>
                <ngb-progressbar value="10" type="blue"></ngb-progressbar>
  
                <p class="contenu">Maven</p>
                <p><ngb-progressbar value="50" type="blue"></ngb-progressbar></p>
  
                <p class="contenu">Nexus</p>
                <p><ngb-progressbar value="10" type="blue"></ngb-progressbar></p>

                <p class="contenu">Jenkins</p>
                <p><ngb-progressbar value="10" type="blue"></ngb-progressbar></p>
              </div>
            </div> 
            </div>

    </ng-container>
  </div>


  <div  class="enbas" style="background-color:rgb(58, 66, 66);">
      <h6 class="texte" >Administrateur et développeur du site: Cyril Pirez </h6>
      <h6 class="texte">Cyril Pirez - Tout droit réservés©</h6>
</div>
  
