<app-presentation></app-presentation>

<div class="jumbotron">
    
                <h1 class="display-4">Expériences
                        <a (click)="showHideButtonsResume()" data-toggle="collapse" href="#savoir" role="button" aria-expanded="false" aria-controls="savoir">
                                <span class="sort" class="fa fa-sort-down"></span></a>
                </h1>
                
                <p class="lead" *ngIf="this.chooseResumeClicked === true">
        Titulaire d’un doctorat en chimie, j’ai pu participer, au cours de mes années de recherche, 
        à la rédaction et à la réalisation de projets scientifiques. J’ai mis en place des nouvelles 
        méthodes de synthèse de catalyseurs chimiques ainsi que des procédés catalytiques afin d’étudier leur
        activité. J’ai aussi valorisé mes résultats via des publications scientifiques ou lors
        de conférences à l’échelle nationale ou mondiale. Après 10 ans de recherche et suite à ma 
        recherche d’emploie, j’ai suivi une Préparation Opérationnelle à l’Emploie (POE) en reconversion 
        durant 3 mois. Cette formation m’a permis d’apprendre le métier de développeur Fullstack orienté 
        Java, en utilisant notamment les outils DEVOPS. Mon profil allie à la fois une connaissance approfondie
        du milieu de la chimie et le développement web, ce qui me permet d'être un atout pour la mise en oeuvre de 
        projet web dans le milieu industriel.
                </p>
                <hr class="my-4">          
</div>

<ng-container >

    <div class="cadre">

                <div class="carte" *ngFor="let item of atos">
                    <input type="checkbox" id="carte1" class="more" aria-hidden="true">
                    <div class="content">
                        <div class="front" style="background-image: url('assets/image/atos.jpg')">
                            <div class="inner">
                                <h2>{{item.employeur}}</h2>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                
                                <br>
                                <h5 class="date">{{item.date}}</h5>
                                
                                <label for="carte1" class="button" aria-hidden="true">
                                        {{item.bouton}}
                                </label>
                            </div>
                        </div>
                        <div class="back">

                                <div class="backimage" style="background-image: url('assets/image/projetatos.jpg')">
                                      
                                <div class="inner">     
                                                <label for="carte1" class="button return" aria-hidden="true">
                                                                <i  class="fa fa-arrow-left"></i>
                                                </label>
                                <div class="projetatos">
                                               
                                    <p>
                                        {{item.description1}}
                                    </p>
                                </div>
                                </div>
                                </div>
                         </div>
                        </div>
    </div>


    <div class="carte" *ngFor="let item of uccs">
                    <input type="checkbox" id="carte2" class="more" aria-hidden="true">
                    <div class="content">
                                <div class="front" style="background-image: url('assets/image/universitelille.jpg')">
                            <div class="inner">
                                <h2>{{item.employeur1}}</h2>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                
                                <br>
                                <h5 class="date">{{item.date1}}</h5>
                                
                                <label for="carte2" class="button" aria-hidden="true">
                                        {{item.bouton1}}
                                </label>
                            </div>
                        </div>
                        <div class="back">

                                        <div class="backimage" style="background-image: url('assets/image/projetuccs.jpg')">
                                              
                                        <div class="inner">     
                                                        <label for="carte2" class="button return" aria-hidden="true">
                                                                        <i class="fa fa-arrow-left"></i>
                                                        </label>
                                        <div class="projetuccs1">
                                                       
                                            <p>
                                                    {{item.description11}}
                                            </p>
                                        </div>
                                        <div class="projetuccs2">
                                            <p>
                                                    {{item.description21}}
                                        </p>
                                        </div>
                                       
                                        </div>
                                        </div>
                                 </div>
                    </div>
     </div>


    <div class="carte" *ngFor="let item of cardiff">
                    <input type="checkbox" id="carte3" class="more" aria-hidden="true">
                    <div class="content">
                                <div class="front" style="background-image: url('assets/image/cardiffuniversite.jpg')">
                            <div class="inner">
                                <h2>{{item.employeur2}}</h2>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                
                                <br>
                                <h5 class="date">{{item.date2}}</h5>
                                
                                <label for="carte3" class="button" aria-hidden="true">
                                        {{item.bouton2}}
                                </label>
                            </div>
                        </div>
                        <div class="back">

                                        <div class="backimage" style="background-image: url('assets/image/cardiffprojet.jpg')">
                                              
                                        <div class="inner">     
                                                        <label for="carte3" class="button return" aria-hidden="true">
                                                                        <i class="fa fa-arrow-left"></i>
                                                        </label>
                                        <div class="projetcardiff1">
                                                       
                                            <p>
                                                    {{item.description12}}
                                            </p>
                                        </div>
                                        <div class="projetcardiff2">
                                            <p>
                                                    {{item.description22}}
                                        </p>
                                        </div>
                                       
                                        </div>
                                        </div>
                                 </div>
                    </div>
    </div>

              
     <div class="carte" *ngFor="let item of uccs1">
                                    <input type="checkbox" id="carte4" class="more" aria-hidden="true">
                                    <div class="content">
                                                <div class="front" style="background-image: url('assets/image/universitelille.jpg')">
                                            <div class="inner">
                                                <h2>{{item.employeur3}}</h2>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                
                                                <br>
                                                <h5 class="date">{{item.date3}}</h5>
                                                
                                                <label for="carte4" class="button" aria-hidden="true">
                                                        {{item.bouton3}}
                                                </label>
                                            </div>
                                        </div>

                                        <div class="back">

                                                        <div class="backimage" style="background-image: url('assets/image/these.jpg')">
                                                              
                                                        <div class="inner">     
                                                                        <label for="carte4" class="button return" aria-hidden="true">
                                                                                        <i class="fa fa-arrow-left"></i>
                                                                        </label>
                                                        <div class="these">
                                                                       
                                                            <p>
                                                                    {{item.description13}}
                                                            </p>
                                                        </div>
                                                         
                                                       
                                                        </div>
                                                        </div>
                                                 </div>
                                    </div>
                                </div>
</div>
</ng-container>

<div  class="enbas" style="background-color:rgb(58, 66, 66);">
        <h6 class="texte" >Administrateur et développeur du site: Cyril Pirez </h6>
        <h6 class="texte">Cyril Pirez - Tout droit réservés©</h6>
</div>